:root {
  // Colors
  --color-primary-fixed-dim: #c6c6c7;
  --color-surface: #131313;
  --color-on-surface-variant: #c4c7c8;
  --color-tertiary-fixed-dim: #d4c3b8;
  --color-on-primary-container: #636565;
  --color-on-surface: #e2e2e2;
  --color-on-secondary-fixed: #281810;
  --color-error: #ffb4ab;
  --color-primary-container: #e2e2e2;
  --color-secondary-container: #574238;
  --color-outline-variant: #444748;
  --color-on-secondary: #3f2c23;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-low: #1b1b1b;
  --color-on-primary-fixed-variant: #454747;
  --color-tertiary-container: #f1dfd3;
  --color-surface-container-lowest: #0e0e0e;
  --color-tertiary-fixed: #f1dfd3;
  --color-on-error-container: #ffdad6;
  --color-background: #131313;
  --color-surface-container-highest: #353535;
  --color-surface-tint: #c6c6c7;
  --color-on-secondary-container: #cbafa2;
  --color-primary: #ffffff;
  --color-on-tertiary-container: #6f6258;
  --color-on-tertiary: #382f26;
  --color-secondary-fixed-dim: #dec1b3;
  --color-primary-fixed: #e2e2e2;
  --color-on-primary: #2f3131;
  --color-inverse-surface: #e2e2e2;
  --color-surface-container: #1f1f1f;
  --color-on-background: #e2e2e2;
  --color-surface-bright: #393939;
  --color-tertiary: #ffffff;
  --color-on-tertiary-fixed: #221a13;
  --color-secondary-fixed: #fbdcce;
  --color-inverse-on-surface: #303030;
  --color-surface-dim: #131313;
  --color-surface-variant: #353535;
  --color-inverse-primary: #5d5f5f;
  --color-outline: #8e9192;
  --color-secondary: #dec1b3;
  --color-on-secondary-fixed-variant: #574238;
  --color-on-error: #690005;
  --color-on-tertiary-fixed-variant: #50453c;
  --color-error-container: #93000a;
  --color-on-primary-fixed: #1a1c1c;

  // Pixel Grid Base Color
  --color-pixel-grid: #3c2a21;

  // Spacing
  --spacing-unit: 4px;
  --spacing-container-max: 1200px;
  --spacing-margin-lg: 80px;
  --spacing-margin-md: 40px;
  --spacing-gutter: 24px;
  --spacing-margin-sm: 16px;

  // Typography
  --font-headline: 'Space Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-body: 'Geist', sans-serif;
}
