:root {
  --sans: 'VT323', system-ui, sans-serif;
  --heading: 'VT323', system-ui, sans-serif;
  --mono: 'VT323', ui-monospace, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
